doctype html
html(lang="en")
    head
        title=pageTitle
    body
        h1 Home page
        ul
            if user
                div(id='vue-app')
                script(type='text/javascript' src='/index.bundle.js')
            else
                li
                    a(href='/signin') Sign in
                li
                    a(href='/signup') Sign up
