doctype html
html(lang="en")
    head
        title=pageTitle
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
        link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
    body
        div(id='vue-app')
        script(type='text/javascript' src='/index.bundle.js')
