doctype html
html(lang="en")
  head
    title=pageTitle
  body
    h1 Home page
    ul
      li
        a(href='/play' ) Play
      li
        a(href='/signin') Sign in
      li
        a(href='/signup') Sign up
      li
        a(href='/signout') Sign out
