div(class='main-wrap')
    div(class="col-sm-6 col-sm-offset-3")
        md-button(class="md-raised md-primary" v-on:click="getQuote()") Make a test reuest
        md-whiteframe(md-elevation="2" v-if="seen") Now you see me after test request
