md-layout(md-gutter)
    md-layout(md-flex="10")
    md-layout
        router-link(class="md-button md-theme-default" to="/")
            md-icon home
        router-link(class="md-button md-theme-default" to="/play") play
        router-link(class="md-button md-theme-default" to="/profile") profile
        router-link(class="md-button md-theme-default" to="/signin") sign in
        router-link(class="md-button md-theme-default" to="/signup") sign up
        router-link(class="md-button md-theme-default" to="/signout") sign out
    md-layout(md-flex="10")
