md-bottom-bar(md-shift)
    md-bottom-bar-item(md-icon="near_me")
        a(href="/play") play
    md-bottom-bar-item(md-icon="favorite")
        router-link(to="home") home
    md-bottom-bar-item(md-icon="history")
        a(href="/signout") sign out
    md-bottom-bar-item(md-icon="history")
        a(href='/signin') Sign in
    md-bottom-bar-item(md-icon="history")
        a(href='/signup') Sign up
