md-card
    md-card-header
        md-avatar
            img(src="https://vuematerial.github.io/assets/card-image-1.jpg" alt="People")
        div(class="md-title") Title goes here
        div(class="md-subhead") Subtitle here
    md-card-content
        span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non, voluptas eius illo quas, saepe voluptate pariatur in deleniti minus sint. Excepturi.
    md-card-actions
        md-button Action
        md-button Action
